:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --text: #434455;
  --white: #ffffff;
  --success: #31D0AA;
  --subtle-text: #8E8F99; 
  --accent: #E7E9FC; 
  --light: #F4F4FD; 
  --modal-overlay: #2E2F42; 
  --hero-background: #2E2F42;
  --white-background: #FFFFFF;
  --modal-background: #FCFCFC; 
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  background-color: var(--white);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.contacts {
  font-style: normal;
}
.header-logo {
  font-family: "Raleway";

  font-weight: 800;
  font-size: 18px;
  line-height: 1.7;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color:var(--primary-brand);
}
.header-logo-span {
color: var(--dark);
}
